Date: {{date}}
Source1: {{source1}}
Source2: {{source2}}
{% for status, counter in stats.items() -%}
{{status}}: {{counter}}
{% endfor -%}
{% for pkg_name, pkg_data in results.items() -%}
{{ pkg_name }} {{ pkg_data["status"] }} {{ pkg_data["nvr1"] }} {{ pkg_data["nvr2"] }}
{% endfor -%}
